### Assignment No.: 1
### Problem Statement: Import Data from different Sources such as (Excel, Sql Server, Oracle etc.) and load in        targeted system. 
### Name of Student: Parkale Shreya Jagdish
### Roll No: 2447060
### Batch: C

In [1]:
pip install pandas sqlalchemy cx_Oracle pyodbc mysql-connector

Requirement already satisfied: pandas in d:\users\shrey\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: sqlalchemy in d:\users\shrey\anaconda3\lib\site-packages (1.4.39)
Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0-cp39-cp39-win_amd64.whl (213 kB)
     -------------------------------------- 213.2/213.2 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: pyodbc in d:\users\shrey\anaconda3\lib\site-packages (4.0.34)
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 11.9/11.9 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.20.3 in d:\users\shrey\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\users\shrey\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\users\shrey\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: greenlet!=0.4.17 in d:\users\shrey\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: six>=1.5 in d:\users\shrey\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247946 sha256=c6f7e7f8b0968f8bd2ec18845868a56425783c3d7a5558be1c32cb2ca852e424
  Stored in directory: c:\users\shrey\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector, cx_Oracle
Successfully installed cx_Oracle-8.3.0 mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)

### Import Data from Excel

In [ ]:
import pandas as pd
# Load Excel file
data_excel = pd.read_excel('sales data.xlsx')
print(data_excel.head())

    country  order_value_EUR       cost                 date     category  \
0    Sweden         98320.37   77722.25            8/23/2020        Games
1    France         46296.26   40319.41            5/15/2020        Games
2  Portugal        140337.34  115708.14  2020-04-09 00:00:00   Appliances
3    France        203604.46  175344.16            6/26/2019  Electronics
4        UK         63979.04   56032.84           10/22/2019        Games

     customer_name    sales_manager            sales_rep device_type  \
0   Konopelski LLC     Maxie Marrow   Tarrah Castelletti      Tablet
1       Wisoky Inc    Othello Bowes  Amelina Piscopiello      Tablet
2    Hegmann Group  Celine Tumasian        Corene Shirer          PC
3  Kirlin and Sons    Othello Bowes         Crysta Halls      Mobile
4   Schoen-Keeling  Jessamine Apark   Genevra Charrisson          PC

     order_id
0  70-0511466
1  77-3489084
2  65-8218141
3  29-5478106
4  27-3437546

In [2]:
data_excel

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546
...,...,...,...,...,...,...,...,...,...,...
996,France,69126.50,55902.6,2019-08-12 00:00:00,Electronics,"Farrell, Swaniawski and Crist",Othello Bowes,Avrit Chanders,PC,07-3201531
997,France,140943.88,120633.87,5/28/2020,Appliances,Armstrong-Little,Othello Bowes,Avrit Chanders,Tablet,77-0650807
998,France,124784.67,106853.11,5/22/2020,Electronics,"Swaniawski, Runolfsson and Green",Othello Bowes,Ora Grennan,Tablet,44-2757396
999,Germany,61968.26,50690.04,12/27/2020,Electronics,Romaguera-Dietrich,Rickard Doogood,Casie MacBain,PC,22-7259031
1000,Netherlands,172453.10,145688.38,6/24/2020,Outdoors,Kirlin and Sons,Denice Amberg,Nero Harbisher,PC,60-6986682

In [3]:
data_excel.head()

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
0,Sweden,98320.37,77722.25,8/23/2020,Games,Konopelski LLC,Maxie Marrow,Tarrah Castelletti,Tablet,70-0511466
1,France,46296.26,40319.41,5/15/2020,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
2,Portugal,140337.34,115708.14,2020-04-09 00:00:00,Appliances,Hegmann Group,Celine Tumasian,Corene Shirer,PC,65-8218141
3,France,203604.46,175344.16,6/26/2019,Electronics,Kirlin and Sons,Othello Bowes,Crysta Halls,Mobile,29-5478106
4,UK,63979.04,56032.84,10/22/2019,Games,Schoen-Keeling,Jessamine Apark,Genevra Charrisson,PC,27-3437546

### Import Data From SQL Server

In [14]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     -------------------------------------- 45.0/45.0 kB 315.7 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (d:\users\shrey\anaconda3\lib\site-packages)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# URL-encoded password
engine = create_engine("mysql+pymysql://root:Atharva%40647@localhost:3306/Salesdb")
data_sql = pd.read_sql("SELECT * FROM Orders", engine)
print(data_sql.head())

   OrderID   CustomerName   OrderDate  Amount
0        1       John Doe  2025-01-15  250.50
1        2     Jane Smith  2025-01-16  175.75
2        3  Alice Johnson  2025-01-17  300.00